@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');

body {
    background: rgb(253,127,35);
    background: linear-gradient(180deg, rgba(253,127,35,1) 0%, rgba(254,186,44,1) 100%);
    width: 100%;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#app {
    width: 600px;
    margin: 0 auto;
}

#app h1 {
    color: #fff;
    font-size: 3.5em;
    text-align: center;
}

#app h2 {
    color: #fff;
    font-size: 2em;
}

#previsao-single {
    box-sizing: border-box;
    width: 100%;
    padding: 0 8.333333333%;
}

.cidade-card {
    background: rgb(255,242,229);
    background: linear-gradient(180deg, rgba(255,242,229,1) 0%, rgba(253,242,227,1) 100%);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    height: 300px;
    position: relative;
}

.cidade-card h3 {
    position: absolute;
    top: 20px;
    left: 50px;
    margin: 0;
    font-weight: 600;
}

.cidade-previsao-atual {
    position: absolute;
    top: 70px;
    left: 50px;
}

.cidade-temperatura {
    font-size: 2.5em;
    margin: 0;
    font-weight: 700;
}

.cidade-info {
    width: 140px;
}

.cidade-info .valor {
    font-weight: 600;
}

.cidade-min-max {
    position: absolute;
    top: 65px;
    left: 0;
    font-weight: 600;
}

.cidade-min-max i {
    color: rgb(253,127,35);

}

.cidade-sencacao-termica {
    position: absolute;
    top: 65px;
    left: 140px;
}

.cidade-velocidade-vento {
    position: absolute;
    top: 100px;
    left: 0;
}

.cidade-humidade {
    position: absolute;
    top: 100px;
    left: 140px;
}


.cidade-previsoes-futura {
    position: absolute;
    top: 200px;
    left: 25px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 25px;
    width: 450px;
    border-top: 1px solid rgb(253,127,35);
}

.previsao {
    width: 17%;
}

.cidade-previsoes-futura .min-max {
    display: block;
    font-weight: 900;
    color: rgb(253,127,35);
}

.fechar {
    position: absolute;
    top: 20px;
    right: 25px;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}


#buscar {
    position: relative;
    height: 60px;
    width: 500px;
    background: #fff;
    border: 1px solid #ccc;
}

#cidade-input {
    position: absolute;
    box-sizing: border-box;
    padding: 15px 25px;
    width: 400px;
    height: 60px;
    border: none;
    outline: none;
    z-index: 1;
}

#buscar-cidade {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    color: #313131;
    font-size: 25px;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

#app hr {
    border: 1px solid #fff;
    margin-top: 40px;
}

#capitais {
    width: 450px;
    margin: 0 auto;
}

#capitais .capitais-card-desktop {
    width: 225px;
    float: left;
}

#capitais table tr {
    height: 40px;
}

#capitais table th {
    text-transform: capitalize;
    font-size: .8em;
    font-weight: 300;
    color: rgb(144,101,30);
    text-align: left;
}

#capitais table td {
     text-transform: capitalize;
     font-size: 1em;
     font-weight: 900;
     color: rgb(54,46,34);
 }

.capitais-card-mobile {
    display: none;
}

@media (max-width: 700px) {
    #app {
        width: 100%;
    }

    #app h1 {
        font-size: 3em;
        padding-left: 1em;
        text-align: left;
    }

    #app.card-aberto h1 {
        font-size: 1.8em;
    }

    #app h2 {
        color: #fff;
        font-size: 2em;
    }

    #previsao-single {
        box-sizing: border-box;
        width: 100%;
        padding: 0;
    }

    .cidade-card {
        background: rgb(255,242,229);
        background: linear-gradient(180deg, rgba(255,242,229,1) 0%, rgba(253,242,227,1) 100%);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .2);
        margin-bottom: 20px;
        height: 300px;
        position: relative;
    }


    .cidade-previsoes-futura {
        position: absolute;
        top: 200px;
        left: 0px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 25px;
        width: 100%;
        border-top: 1px solid rgb(253,127,35);
    }

    #buscar {
        position: relative;
        height: 60px;
        width: 90%;
        margin: 0 auto;
        background: #fff;
        border: 1px solid #ccc;
    }

    #cidade-input {
        position: absolute;
        box-sizing: border-box;
        padding: 15px 50px 15px 5%;
        width: 100%;
        height: 60px;
        border: none;
        outline: none;
        z-index: 1;
    }

    #buscar-cidade {
        position: absolute;
        z-index: 2;
        width: 25px;
        height: 25px;
        color: #313131;
        font-size: 25px;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    #app hr {
        border: 1px solid #fff;
        margin-top: 40px;
    }

    #capitais {
        width: 80%;
        margin: 0 auto;
        font-size: 120%;
    }

    #capitais .capitais-card-desktop {
        display: none;
    }

    #capitais .capitais-card-mobile {
        display: block;
    }

}