<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Previsão do tempo</title>
    <!-- CSS RESET -->
    <link rel="stylesheet" href="./css/normalize.css">
    <!-- Icones -->
    <link rel="stylesheet" href="./css/all.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>

<div id="app">
    <h1>Previsão do tempo</h1>
    <div id="previsao-single">
        <div class="cidade-card" v-if="cityLoading">
            <h3 class="cidade-descricao">Carregando {{cityName}}</h3>
        </div>
        <div class="cidade-card" v-if="cityLoaded">
            <h3 class="cidade-descricao">{{loadedCity.city}}, {{loadedCity.region}} - {{loadedCity.country}}</h3>
            <div class="cidade-previsao-atual">
                <p class="cidade-temperatura">{{loadedCity.current.temperature}}ºC {{loadedCity.current.text}}</p>
                <div class="cidade-min-max">
                    <i class="fas fa-arrow-down"></i> <span class="min">{{loadedCity.current.min}}º</span>
                    <i class="fas fa-arrow-up"></i> <span class="max">{{loadedCity.current.max}}º</span>
                </div>
                <div class="cidade-sencacao-termica cidade-info">
                    Sensação <span class="valor">{{loadedCity.current.sensacao}}º</span>
                </div>
                <div class="cidade-velocidade-vento cidade-info">
                    Vento <span class="valor">{{loadedCity.current.windSpeed}}km/h</span>
                </div>
                <div class="cidade-humidade cidade-info">
                    Humidade <span class="valor">{{loadedCity.current.humidity}}%</span>
                </div>
            </div>
            <ul class="cidade-previsoes-futura">
                <p class="previsao" v-for="dia in loadedCity.nextDays">
                    <strong class="dia">{{dia.day}}</strong>
                    <span class="min-max">{{dia.min}}º {{dia.max}}º</span>
                </p>
            </ul>
            <a href="#" class="fechar" title="fechar previsão" v-on:click="unloadCity">X</a>
        </div>
        <form action="/" id="buscar" v-on:submit.prevent="lookUpCity">
            <input type="search" id="cidade-input" name="cidade" placeholder="Insira aqui o nome da cidade" v-model="cityName">
            <span id="buscar-cidade" v-on:click="lookUpCity"><i class="fas fa-search"></i></span>
        </form>
    </div>

    <hr>

    <div id="capitais">
        <h2>Capitais <span v-if="capitalsLoaded < 10" style="font-size: .8em">Atualizando {{10 - capitalsLoaded}} de 10...</span></h2>
        <table class="capitais-card-desktop">
            <tr>
                <th scope="col">min</th>
                <th scope="col">máx</th>
                <th scope="col">&nbsp;</th>
            </tr>
            <tr>
                <td>{{capitais.riojaneiro.min}}º</td>
                <td>{{capitais.riojaneiro.max}}º</td>
                <td>Rio de Janeiro</td>
            </tr>
            <tr>
                <td>{{capitais.saopaulo.min}}º</td>
                <td>{{capitais.saopaulo.max}}º</td>
                <td>São Paulo</td>
            </tr>
            <tr>
                <td>{{capitais.belohorizonte.min}}º</td>
                <td>{{capitais.belohorizonte.max}}º</td>
                <td>Belo Horizonte</td>
            </tr>
            <tr>
                <td>{{capitais.brasilia.min}}º</td>
                <td>{{capitais.brasilia.max}}º</td>
                <td>Brasília</td>
            </tr>
            <tr>
                <td>{{capitais.belem.min}}º</td>
                <td>{{capitais.belem.max}}º</td>
                <td>Belém</td>
            </tr>
        </table>
        <table class="capitais-card-desktop">
            <tr>
                <th scope="col">min</th>
                <th scope="col">máx</th>
                <th scope="col">&nbsp;</th>
            </tr>
            <tr>
                <td>{{capitais.salvador.min}}º</td>
                <td>{{capitais.salvador.max}}º</td>
                <td>Salvador</td>
            </tr>
            <tr>
                <td>{{capitais.curitiba.min}}º</td>
                <td>{{capitais.curitiba.max}}º</td>
                <td>Curitiba</td>
            </tr>
            <tr>
                <td>{{capitais.fortaleza.min}}º</td>
                <td>{{capitais.fortaleza.max}}º</td>
                <td>Fortaleza</td>
            </tr>
            <tr>
                <td>{{capitais.manaus.min}}º</td>
                <td>{{capitais.manaus.max}}º</td>
                <td>Manaus</td>
            </tr>
            <tr>
                <td>{{capitais.joaopessoa.min}}º</td>
                <td>{{capitais.joaopessoa.max}}º</td>
                <td>João Pessoa</td>
            </tr>
        </table>

        <table class="capitais-card-mobile">
            <tr>
                <th scope="col">min</th>
                <th scope="col">máx</th>
                <th scope="col">&nbsp;</th>
            </tr>
            <tr>
                <td>{{capitais.riojaneiro.min}}º</td>
                <td>{{capitais.riojaneiro.max}}º</td>
                <td>Rio de Janeiro</td>
            </tr>
            <tr>
                <td>{{capitais.saopaulo.min}}º</td>
                <td>{{capitais.saopaulo.max}}º</td>
                <td>São Paulo</td>
            </tr>
            <tr>
                <td>{{capitais.belohorizonte.min}}º</td>
                <td>{{capitais.belohorizonte.max}}º</td>
                <td>Belo Horizonte</td>
            </tr>
            <tr>
                <td>{{capitais.brasilia.min}}º</td>
                <td>{{capitais.brasilia.max}}º</td>
                <td>Brasília</td>
            </tr>
            <tr>
                <td>{{capitais.belem.min}}º</td>
                <td>{{capitais.belem.max}}º</td>
                <td>Belém</td>
            </tr>
            <tr>
                <td>{{capitais.salvador.min}}º</td>
                <td>{{capitais.salvador.max}}º</td>
                <td>Salvador</td>
            </tr>
            <tr>
                <td>{{capitais.curitiba.min}}º</td>
                <td>{{capitais.curitiba.max}}º</td>
                <td>Curitiba</td>
            </tr>
            <tr>
                <td>{{capitais.fortaleza.min}}º</td>
                <td>{{capitais.fortaleza.max}}º</td>
                <td>Fortaleza</td>
            </tr>
            <tr>
                <td>{{capitais.manaus.min}}º</td>
                <td>{{capitais.manaus.max}}º</td>
                <td>Manaus</td>
            </tr>
            <tr>
                <td>{{capitais.joaopessoa.min}}º</td>
                <td>{{capitais.joaopessoa.max}}º</td>
                <td>João Pessoa</td>
            </tr>
        </table>
    </div>

</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<!-- Importando vue do CDN -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Importando CryptoJS para o Oauth -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<!-- Script principal -->
<script src="./js/main.js"></script>
</body>
</html>